body{
    /* background-color: rgb(255, 174, 0);  */ 
  background-image: url('../img/bg.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.table{
  color: white;
}
.container {
  color: rgb(10, 9, 22);
}